<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Part Of Speech</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="col-md-6 text-center mx-auto">
        <form action="/" method="POST">
            {% for field in form %}
                <div class="form-group">
                    <h1>{{ field.label(class='control-label') }}</h1>
                    {{ field(class='form-control') }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Define tags</button>
        </form>
        <br>
        <form action="/" method="GET">
            <button type="submit" class="btn btn-danger">Clear</button>
        </form>
        {% if predicted_tags %}
            {% for tag in predicted_tags %}
                <div><b>{{ tag }}</b></div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>